@{
    ViewData["Title"] = "Home Page";
    string value = "Starcents";
}
<body style="background-image:url('https://c1.wallpaperflare.com/preview/755/60/1020/cup-coffee-table-saucer.jpg'); background-size: cover;">
<div class="text-center">
    <h1 style="color:white" class="display-4">@value</h1>
    <p style="color: white">@ViewData["Name"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</body>