@model User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body style="background-image:url('https://c1.wallpaperflare.com/preview/755/60/1020/cup-coffee-table-saucer.jpg'); background-size: cover;">
@{
    string coffeeshop = "Starcents";
}
<h3 style="color: white">Welcome to @coffeeshop, @Model.FirstName!</h3>

</body>